@model List<GameForum.Model.PostCategory>

<div class="masonry">
    @foreach (var category in Model)
    {
        <a asp-controller="Post" asp-action="Index" asp-route-categoryId="@category.Id">
            <div class="item p-3 text-light my-brdr">
                <div class="">
                    <h2>@category.Name</h2>
                    <p class="text-muted text">@category.Description</p>
                </div>
            </div>
        </a>
    }
</div>